@font-face {
  font-family: 'Fugue';
  src: url("../fonts/Fugue-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #fefefe;
  -webkit-transition: background-color 750ms ease-in-out;
  transition: background-color 750ms ease-in-out;
}
body.isBlack {
  background-color: #000;
}
.circles__canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.circles__canvas.isHidden {
  display: none;
}
.bow {
  position: absolute;
  z-index: 2;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  width: 150px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.bow:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.bow:focus,
.bow:active {
  outline: 0;
}
