
.bow
	position: absolute
	z-index: 2
	bottom: 5vh
	left: 0
	right: 0
	margin: auto
	border: 0
	width: 150px
	cursor: pointer
	background-color: transparent
	transition: all 350ms ease-in-out

	&:hover
		transform translateY(-5px)

	&:focus,
	&:active
		outline 0
